.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:2rem;
    background: $light-bg;
  
    .image{
      flex:1 1 40rem;
  
      img{
        width: 100%;
      }
    }
  
    .content{
      flex:1 1 40rem;
  
      span{
        @include font(3rem);
      }
  
      .title{
        font-size: 3rem;
        padding-top: .5rem;
        color:$black;
      }
  
      p{
        padding:1rem 0;
        line-height: 2;
        font-size: 1.4rem;
        color:$light-color;
      }
  
      .icons-container{
        margin-top: 2rem;
        display: flex;
        flex-wrap: nowrap;
        gap:1.5rem;
  
        .icons{
          flex:1 1 20rem;
          border-radius: .5rem;
          background: $white;
          box-shadow: $box-shadow;
          display: flex;
          align-items: center;
          gap:2rem;
          padding:2rem;
  
          h3{
            font-size: 1.7rem;
            color:$black;
          }
        }
      }
    }
  }