.category{
    @include grid(16rem);
    padding-bottom: 5rem;
  
    .box{
      padding:2rem;
      text-align: center;
      border-radius: .5rem;
      background: $light-bg;
  
      &:hover{
        background: $green;
  
        h3{
          color:$white;
        }
      }
  
      img{
        height: 7rem;
      }
  
      h3{
        font-size: 1.8rem;
        color:$black;
      }
    }
  }