.header {
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background: $white;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
  
    .logo{
      font-size: 2.5rem;
      font-weight: bolder;
      color:$black;
  
      i{
        padding-right: .5rem;
        color:$green;
      }
    }
  
    .navbar{
  
      a{
        font-size: 1.7rem;
        margin:0 1rem;
        color:$light-color;
  
        &:hover{
          color:$green;
        }
      }
    }
  
    .icons div{
      height: 4.5rem;
      width: 4.5rem;
      line-height: 4.5rem;
      font-size: 2rem;
      background: $light-bg;
      color:$black;
      border-radius: .5rem;
      margin-left: .3rem;
      cursor: pointer;
      text-align: center;
  
      &:hover{
        color:$white;
        background: $green;
      }
    }
  }
  
  #menu-btn{
    display: none;
  }
  
  @keyframes fadeUp{
    0%{
      transform: translateY(5rem);
      opacity: 0;
    }
  }

  .search-form-container{
    position: fixed;
    top:8.5rem; left:0; right:0;
    height: calc(100vh - 8.5rem);
    background: $white;
    z-index: 1000;
    display: none;
  
    &.active{
      display: block;
    }
  
    form{
      height: 7rem;
      border-bottom: .2rem solid $black;
      width: 100%;
      display: flex;
      align-items: center;
      animation: fadeUp .4s linear;
  
      input{
        height: 100%;
        width: 100%;
        font-size: 1.7rem;
        color:$black;
        text-transform: none;
        padding-right: 1rem;
      }
  
      label{
        font-size: 3rem;
        cursor: pointer;
        color:$black;
  
        &:hover{
          color:$green;
        }
      }
    }
  }
  
  .shopping-cart-container{
    position: fixed;
    top:8.5rem; left:0; right:0;
    z-index: 1000;
    height: calc(100vh - 8.5rem);
    background: $white;
    overflow-y: scroll;
    padding-bottom: 8rem;
    display: none;
  
    &.active{
      display: block;
    }
  
    &::-webkit-scrollbar{
      width: 1rem;
    }
  
    &::-webkit-scrollbar-track{
      background: $white;
    }
  
    &::-webkit-scrollbar-thumb{
      background: $black;
      border-radius: 5rem;
    }
  
    .title{
      font-size: 2.5rem;
      padding:1rem;
      color:$black;
      border-bottom: $border;
      text-align: center;
    }
  
    .products-container{
      border:$border;
      border-radius: .5rem;    
      animation: fadeUp .4s linear;
  
      .box-container{
        @include grid(30rem);
        padding:1.5rem;
  
        .box{
          border-radius: .5rem;
          background:$light-bg;
          display: flex;
          align-items: center;
          gap:1.5rem;
          padding:2rem;
          position: relative;
  
          .fa-times{
            position: absolute;
            top:.7rem; right: 1rem;
            font-size: 2rem;
            cursor: pointer;
            color:$black;
  
            &:hover{
              color:$green;
            }
          }
  
          img{
            height:8rem;
          }
  
          .content{
  
            h3{
              font-size: 2rem;
              color:$black;
            }
  
            span{
              font-size: 1.5rem;
              color:$light-color;
  
              &.price{
                color:$green;
                font-size: 1.7rem;
              }
            }
  
            input{
              width: 8rem;
              padding:.5rem 1.2rem;
              font-size: 1.5rem;
              color:$black;
              margin:.7rem 0;
            }
          }
        }
      }
    }
  
    .cart-total{
      margin-top: 2rem;
      border:$border;
      border-radius: .5rem;    
      animation: fadeUp .4s linear .4s backwards;
  
      .box{
        padding:1.5rem;
  
        h3{
          color:$black;
          font-size: 2rem;
          padding-bottom: .7rem;
  
          span{
            color:$green;
          }
        }
      }
    }
  }
  
  .login-form-container{
    position: fixed;
    top:8.5rem; left:0; right:0;
    z-index: 1000;
    height: calc(100vh - 8.5rem);
    background: $white;
    padding:0 2rem;
    display: none;
  
    &.active{
      display: block;
    }
  
    form{
      margin:2rem auto;
      max-width: 40rem;
      box-shadow: $box-shadow;
      border:$border;
      padding: 2rem;
      border-radius: .5rem;
      animation: fadeUp .4s linear;
  
      h3{
        padding-bottom: 1rem;
        font-size: 2.5rem;
        text-transform: uppercase;
        color: $black;
      }
  
      .box{
        margin:.7rem 0;
        border-radius: .5rem;
        background: $light-bg;
        padding:1rem 1.2rem;
        font-size: 1.6rem;
        color:$black;
        text-transform: none;
        width: 100%;
      }
  
      .remember{
        padding:1rem 0;
        display: flex;
        align-items: center;
        gap:.5rem;
  
        label{
          font-size: 1.5rem;
          cursor: pointer;
          color:$light-color;
        }
      }
  
      .btn{
        margin:1rem 0;
        width: 100%;
        text-align: center;
      }
  
      p{
        padding-top: 1rem;
        font-size: 1.5rem;
        color: $light-color;
  
        a{
          color:$green;
  
          &:hover{
            color:$black;
            text-decoration: underline;
          }
        }
      }
    }
  }