@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap:1rem;
  }
  
  @mixin font($size) {
    font-family: 'Satisfy', cursive;
    font-size: $size;
    color:$green;
  }