// media queries 

@media (max-width:991px){

    html{
      font-size: 55%;
    }
  
    .header{
      padding:2rem;
    }
  
    section{
      padding:2rem;
    }
  
  }
  
  @media (max-width:768px){
  
    #menu-btn{
      display: inline-block;
    }
  
    .header .navbar{
      position: absolute;
      top:99%; left:0; right: 0;
      background: $white;
      border-top: $border;
      border-bottom: $border;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  
      &.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
  
      a{
        font-size: 2rem;
        margin:2rem;
        display: block;
      }
    }
  
    .home .home-parallax-img{
        top:0; right:0;
        width: 130%;
      }
  
      .order form .flex .inputBox{
        width: 100%;
      }
  
  }
  
  @media (max-width:450px){
  
    html{
      font-size: 50%;
    }
  
    .shopping-cart-container .cart-total{
  
      .box{
        text-align: center;
  
        .btn{
          width: 100%;
        }
      }
    }
  
    .home .content{
      h3{
        font-size: 3rem;
      }
      p{
        font-size: 1.5rem;
      }
    }
  
  }